body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: black;
  font-family:'Poppins', sans-serif !important;



}

.header-container {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  max-width: 100%;
  margin: 1%;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  padding-left: 5%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.5s ease-in-out forwards;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}




@media (max-width: 768px) {
  .header-container {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    max-width: 100%;
    margin: 2%;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    padding-left: 5%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    justify-content: start;
  }
}




.hcondiv1 {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;



}

@media (max-width: 768px) {
  .hcondiv1 {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}

.hcondiv2 {

  width: 50%;
  align-items: center;


}

@media (max-width: 768px) {
  .hcondiv2 {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 6%;
  }
}






.menu-bar {


  border-radius: 10px;
  display: flex;
  justify-content: space-between;


  width: 70%;
}

@media (max-width: 768px) {
  .menu-bar {

    padding-top: 20%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;

    width: 100%;
  }
}






.menu-item {
  display: flex;
  align-items: center;
  justify-items: space-between;
  color: white;
 text-align: center;
  text-decoration: none;
  cursor: pointer;
  gap: 5px;
  font-size: small;
  position: relative;
}

@media (max-width: 768px) {
  .menu-item {
    display: flex;
    align-items: center;
    justify-items: space-between;
    color: white;
    margin: 5%;
    text-decoration: none;
    cursor: pointer;
    text-align:center ;
    gap: 20px;
    font-size: small;
    position: relative;
  }
}

.menu-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: rgb(76, 201, 136);
  transition: width 0.4s ease, transform 0.4s ease;
}

.menu-item:hover {
  color: rgb(76 201 136);
  transform: scale(1.1);
}

.menu-item:hover::after {
  left: 0;
  width: 100%;
}

.custom-icon {
  color: #ffffff;
  transition: color 0.3s ease;


}

.custom-icon:hover {
  color: #76c18a;
}

.custom-toggler {
  width: 40px;
  height: auto;
  color: white;
  padding: 5px;
  background-color: transparent;
}
.nav-link.active {
  color: rgb(76 201 136)!important;
  transform: scale(1.1)!important;
}


.home {

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}







@media (max-width: 768px) {
  .home {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




  }
}


.homediv1 {
  width: 70%;

  text-align: center;
}



@media (max-width: 768px) {
  .homediv1 {
    width: auto;
    padding-left: 10%;
    padding-top: 20%;
    text-align: center;
    padding-right: 15%;


  }
}

.type-container {
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
}

.homediv2 {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}





.homediv2::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: radial-gradient(circle, transparent 30%, black 90%);
  z-index: 2;
}

.homediv2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 20%;
  filter: brightness(80%) contrast(120%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 1), inset 0 0 50px rgba(0, 0, 0, 1);
  
}

@media (max-width: 768px) {
  .homediv2 {

    padding-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;


  }
}









@media (max-width: 768px) {
  .homediv2 img {
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 9px 9px 8px rgb(22, 22, 22),
      0 4px 8px rgb(66, 66, 66) inset;
    border: 3px solid rgba(255, 255, 255, 0.755);
  
  }



  .homediv2 img:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
    border-color: rgba(255, 255, 255, 0.9);
  }
}


.home2 {

  margin: 5%;
  height: 80vh;
  padding: 4%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 20px;
  position: relative;
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .home2 {

    margin: 5%;
   height: 90vh;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
    position: relative;
    background-color: transparent;
    border-radius: 12px;
    overflow: hidden;
  }

}

.home2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 3px;
  background: linear-gradient(90deg, rgb(76, 201, 136), rgb(0, 0, 0), rgb(255, 255, 255));
  background-size: 300% 300%;
  animation: borderAnimation 2s linear infinite;
  mask: linear-gradient(rgb(76, 201, 136) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  -webkit-mask: linear-gradient(rgb(2, 90, 45) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}


.home2div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  
}
.home2div2 {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .home2div2 {
    flex: 1;
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.home2div2 img {
  width: 60%;
  height: auto;
  border-radius: 50%;
  box-shadow: 9px 9px 8px rgb(22, 22, 22),
    0 4px 8px rgb(66, 66, 66) inset;
  border: 3px solid rgba(255, 255, 255, 0.755);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
 
}

.home2div2 img:hover {
  transform: scale(1.20);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.9);
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
 


}

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 10%;


  }


}

.aboutdiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;

}

.aboutdiv1 p {
  color: white;
  font-size: 150%;
  font-weight: 500;
}


@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

.tech-icons {
  font-size: 4.5em !important;
  margin: 15px !important;
  padding: 30px !important;
  opacity: 0.93 !important;

  vertical-align: middle !important;
  text-align: center !important;
  border-radius: 5px !important;
  display: table !important;

  overflow: hidden !important;
  transition: all 0.4s ease 0s !important;
  color: white !important;
  position: relative;
}

.tech-icons::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 3px;
  background: linear-gradient(90deg, rgb(76, 201, 136), rgb(0, 0, 0), rgb(255, 255, 255));
  background-size: 300% 300%;
  animation: borderAnimation 3s linear infinite;
  mask: linear-gradient(rgb(76, 201, 136) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  -webkit-mask: linear-gradient(rgb(2, 90, 45) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

@media (max-width: 767px) {
  .tech-icons {
    margin: 10px !important;
  }
}

.tech-icons:hover {
  transform: scale(1.20) !important;
  overflow: hidden !important;

}



footer {
  
  
  padding: 2%;
  position: relative;
  overflow: hidden;

}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('https://images.unsplash.com/photo-1623298317883-6b70254edf31?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
  filter: blur(0px);
  
  z-index: -1;
}

.foodiv1 {
  background-color: transparent;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.foodiv1div2 {
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 100%;

}

@media (max-width: 768px) {
  .foodiv1div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;

  }

}

.footercard {
  padding: 2%;
  margin: 2%;
  width: 50%;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.footercard:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.5);
  border-color: rgba(255, 255, 255, 0.9);
}


.footercard a i {
  font-size: 50px;
  color: white;
}
@media (max-width: 768px) {
  .footercard a i {
    font-size: 30px;
    color: white;
  }

}

.footercard p {
  color: white;
  margin: 0;
  padding: 0;
}

.foodiv2 {

  display: flex;
  margin-top: 6%;
  justify-content: center;
  align-content: center;

}

.footercard1 {
  padding: 2%;

  margin-left: 5%;
  margin-right: 5%;
  font-size: small;
  border-radius: 20px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  display: flex;

  justify-content: center;
  align-items: center;

}


.card-container {
  position: relative;
  display: inline-block;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
}

.card-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 3px;

  background: linear-gradient(90deg, rgb(76, 201, 136), rgb(0, 0, 0), rgb(255, 255, 255));
  background-size: 300% 300%;
  animation: borderAnimation 2s linear infinite;
  mask: linear-gradient(rgb(76, 201, 136) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  -webkit-mask: linear-gradient(rgb(2, 90, 45) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}




.paragraph {
  text-align: justify;

  padding: 10px;
  max-width: 600px;
  color: #ffffff;
  line-height: 1.6;

}






.resume {
  display: flex;
  flex-direction: column;

  align-items: center;
  
  padding-top: 10%;

  margin-bottom: 5%;


}

@media (max-width: 767px) {
  .resume {
    display: flex;
    flex-direction: column;

    align-items: center;
 
    padding-top: 20%;


  }
}

.resume div {
  display: flex;
  justify-content: center;
}

.resumeimgdiv {
  width: 50%;
  align-items: center;
  margin-top: 4%;
  margin-bottom: 3%;
  border-radius: 20px;
  position: relative;
  background-color: transparent;
  border-radius: 12px;


}

@media (max-width: 767px) {

  .resumeimgdiv {
    width: 80%;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 3%;
    border-radius: 20px;
    position: relative;
    background-color: transparent;
    border-radius: 12px;


  }
}

.resumeimgdiv::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 3px;
  background: linear-gradient(90deg, rgb(76, 201, 136), rgb(0, 0, 0), rgb(255, 255, 255));
  background-size: 300% 300%;
  animation: borderAnimation 2s linear infinite;
  mask: linear-gradient(rgb(76, 201, 136) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  -webkit-mask: linear-gradient(rgb(2, 90, 45) 0 0) content-box, linear-gradient(rgb(76, 201, 136) 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.resumeimg {

  width: 100%;
  border-radius: 12px;


}

@media (max-width: 767px) {

  .resumeimg {
    border-radius: 12px;
    width: 100%;
  }
}

.download-btn {
  background-color: #4CC988;
  color: white;
  padding: 10px 20px;
  font-size: 80%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.download-btn:hover {
  transform: scale(1.05);
  background-color: #169451;
}






/* Gallery container */
.gallery{
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 6%;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .gallery {margin-top: 15%;}
}


.title {
  color: rgb(76 201 136);
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: bold;
}


.gallery-grid {
  display: grid;
  
  gap: 15px; 
  margin: 1% 5% 5% 5%;
  padding: 3%;
  
  
}



@media (min-width: 768px) {
  .gallery-grid {
      grid-template-columns: repeat(4, 1fr);
      
  }
}


@media (max-width: 767px) {
  .gallery-grid {
      grid-template-columns: repeat(2, 1fr);
      margin-top:10% ;
  }
}


.gallery-item {
  align-self: center;
  justify-self: center;
  padding: 1px;
  width: 90%;
  height: auto;
  border: 3px solid #ffffff;
  cursor: pointer;
 display: inline-block; 
  background-color: transparent;
  border-radius: 12px;

  transition: transform 0.3s ease-in-out;

}




.gallery-item.large {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-item.medium {
  grid-column: span 1;
  grid-row: span 1;
}

.gallery-item.small {
  grid-column: span 1;
  grid-row: span 1;
}


.gallery-item:hover {
  transform: scale(1.05);
}


.image-popup {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35vw;
  
 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media (max-width: 767px) {

  .image-popup {
    position: fixed;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 100vw;
   
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
}

.popup-content img {
  max-width: 90%;
  max-height: 90%;
  
  padding: 1%;
  border: #ffffff 2px solid;
  border-radius: 12px;
}



.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  height: 100vh;
}



.contactdiv1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 width: 80%;
 margin: 3%;
 
}

.contactdiv1 div{
  margin: 2%;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #ffffff;
  font-size: small;
  
}
.contactdiv1 div i{
  align-self: center;
  margin: 0%;
  color: rgb(76, 201, 136);
  font-size: medium;

}
.contactdiv1 div span{
  color: rgb(76, 201, 136);
  align-self: center;
  font-size: medium;

}

.contactdiv2{
  margin-top:2% ;
  background-color: #ffffff;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
 
 
}


.formdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
  padding-top:5% ;
  
  

}
.forminputfield{
  border: 1px solid grey;
  border-radius: 10px ;
  padding: 3%;
  margin: 1%;
  width: 80%;
  font-size: small;

}
.messageforminputfield {
  border: 1px solid grey;
  border-radius: 10px;
  text-align: initial;
  padding: 3%;
  margin: 1%;
  width: 80%;
  height: 15vh;
  font-size: small;
  vertical-align: top;
  resize: none; 
  overflow: auto; 
}
.formbutton{
  background-color: rgb(76, 201, 136);
  color: #ffffff;
  border: none;
  margin: 2%;
  padding: 2%;
  font-size: small;
  border-radius:10px ;
}

@media (max-width: 767px) {
  .contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
  }
  .contact pre{
    font-size:large;
  }
  
.contactdiv2{
  margin-top:2% ;
  background-color: #ffffff;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 12px;

 
}
.formdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
  padding-top:6% ;
  gap: 10px;

}


  .contactdiv1{
    display: flex;
    flex-direction: column;
    align-items: start;
    
    
    
   width: 70%;
   margin: 4%;
   padding-top:8% ;
   
  
}


}
